---
import type { HeadingAndTextAlignments, THeadingAndText } from "../../types";
import Heading from "../Heading.astro";
import BlockLayout from "./BlockLayout.astro";
import Markdown from "../Markdown.astro";

interface Props {
  block: THeadingAndText | undefined;
}

const { block } = Astro.props;

if (!block) return null;

const styles: Record<HeadingAndTextAlignments, any> = {
  LEFT: { heading: "text-left", text: "prose-p:text-left" },
  CENTER: { heading: "text-center", text: "prose-p:text-center" },
  RIGHT: { heading: "text-right", text: "prose-p:text-right" },
};

const style = styles[block.alignment];
---

<BlockLayout>
  <div class="flex flex-col gap-10 max-w-3xl">
    <Heading level={3} class={style.heading}>{block.heading}</Heading>
    <Markdown class={style.text} text={block.text} />
  </div>
</BlockLayout>
